version: '3.8'

services:
  app:
    build:
      context: .
    networks:
      - twitterclone_network
    ports:
      - "8000:80"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: twitterclone
      DB_USERNAME: admin
      DB_PASSWORD: Admin123!
      PUSHER_HOST: ""
      PUSHER_PORT: ""
      PUSHER_SCHEME: ""
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    command: >
      sh -c "
      composer install --no-dev --optimize-autoloader &&
      php artisan migrate --force &&
      php artisan storage:link &&
      php artisan cache:clear &&
      php artisan serve --host=0.0.0.0 --port=80
      "

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Admin123!
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init-scripts:/docker-entrypoint-initdb.d
    networks:
      - twitterclone_network
    ports:
      - "3307:3306"

  backup:
    build:
      context: .
      dockerfile: Dockerfile.backup
    environment:
      MYSQL_ROOT_PASSWORD: Admin123!
    volumes:
      - db_data:/var/lib/mysql
      - ./backups:/backups
    networks:
      - twitterclone_network

networks:
  twitterclone_network:
    driver: bridge

volumes:
  db_data:
